@model PRODUCTO3.Models.Trabajador

@{
    ViewBag.Title = "DetallesTrabajador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetallesTrabajador</h2>

<div>
    <h4>Trabajador</h4>
    <hr />
    <dl class="dl-horizontal">
        


        
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

 

        <dt>
            @Html.DisplayNameFor(model => model.idroles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idroles)
        </dd>

    </dl>
</div>
<p>
 
    @Html.ActionLink("Regresar", "Trabajador")
</p>
